%h3 New question
=form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "Question text"
    = f.text_field :body, placeholder: 'Question text', class: 'form-control'
  .form-group
    = f.label "How many seconds has user to think"
    = f.text_field :time, placeholder: 'Value can be between 3 to 300', class: 'form-control'

  .form-group
    = f.label "Right answers & variations of the answer"
    = f.nested_fields_for :answers do |ff|
      .input-group
        = ff.text_field :body, placeholder: "Answer", class: 'form-control'
        = ff.remove_nested_fields_link "Remove", class: 'input-group-addon'
        = ff.hidden_field :user_id, value: current_user.id
        = ff.hidden_field :correct, value: true
      %br
    = f.add_nested_fields_link :answers, "Add another right answer", class: "btn btn-default btn-sm"

  .form-group
    = f.label "Other answers"
    %br
    = radio_button_tag(:other_answer, false)
    = label_tag(:yes, "Automaticaly count that any other answer is wrong")
    = radio_button_tag(:other_answer, true)
    = label_tag(:no, "Give me the opportunity to review the answers")
  .form-group
    = f.label "Comment"
    = f.text_field :comment, placeholder: 'Comment', class: 'form-control'
  .form-group
    = f.label "Publication in feed"
    %br
    = radio_button_tag(:publish, true)
    = label_tag(:public, "Allow publication on a common feed")
    = radio_button_tag(:publish, false)
    = label_tag(:private, "Deny")


  = f.submit 'Save', class: 'btn btn-info'
