%script{src: "./app/assets/javascripts/jquery.countdown360.min.js"}

%h2{align: "center"}= @question.body

#countdown

=form_for @answer, url: answer_question_path, html: {id: "answer-form"} do |f|
  .form-group
    = f.text_field :body, placeholder: 'Your answer', class: 'form-control'
    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :question_id, value: @question.id
  = f.submit 'Send answer', class: 'btn btn-info btn-block'

:javascript
  var time = #{@question.time.to_i}
  $(document).ready( function() {
    setTimeout( function(){
      $("#answer-form").submit();
    }  , #{@question.time.to_i * 1000} );
    $("#countdown").countdown360({
      radius: 60,
      seconds: time,
      label: ['sec', 'secs'],
      fontColor: '#FFFFFF',
      autostart: true,
    });
  });
