%h3 Question details

%p Question text:
%h4= @question.body
%p Time to answer:
%h4= @question.time
%p Comment:
%h4= @question.comment
%p Public question:
%h4= @question.publish
%p Other answers:
%h4= @question.other_answer

%h3 Answers to reviese

